/* FONTS */
@font-face {
  font-family: "PrettyMeowRegular";
  src: url("fonts/FONT_PrettyMeowRegular.ttf");
}

@font-face {
  font-family: "CathelineRegular";
  src: url("fonts/FONT_CathelineRegular.ttf");
}

@font-face {
  font-family: "KawaiiBubble-Regular";
  src: url("fonts/FONT_KawaiiBubble-Regular.ttf");
}

@font-face {
  font-family: "Bree-Serif";
  src: url("fonts/FONT_BreeSerif.ttf");
}
/* END FONTS */

/* TODAS LAS OPCIONES DE ATRIBUTOS (MENOS LOS TITULOS) VAN A TENER LA MISMA LETRA */
html,
body,
div,
span,
applet,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: CathelineRegular;
  vertical-align: baseline;
}

h1 {
  font-size: revert;
  font-family: KawaiiBubble-Regular;
  vertical-align: baseline;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* HEADER ANIMATION scr: https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
  background-color: #ff9a87;
  animation: 60s linear 0s infinite alternate animating-multiple-properties;
  margin: 0%;
  padding: 1rem;
  /* END HEADER ANIMATION */
}

/* Key HEADER */
/* it is possible to animate multiple properties in a single animation */
@keyframes animating-multiple-properties {
  from {
    background-color: #ffffbf;
  }
  to {
    transform: translateY(0);
    background-color: #ff9a87;
    /* unset properties i.e. 'filter' will revert to default values */
  }
}
/* END Key HEADER */

/*.navegador {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: stretch;
  align-items: center;
}

.navegador a {
  display: flex;
  color: white;
  margin: 0.1rem;
  padding: 0.5rem;
  width: -webkit-fill-available;
  justify-content: space-around;
  background-color: #ff2f82;
  border-radius: 5%;
  align-content: center;
  align-items: center;
  text-decoration: solid;
}*/

/* LOGO ANIMATION */
.logo_gatito {
  border-radius: 50%;
  /* explicacion de animacion: https://linuxhint.com/rotate-animation-css/ */
  animation: 60s linear 0s infinite alternate rotation;
}
@keyframes rotation {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(90deg);
  }
}
/* END LOGO ANIMATION*/

/* CONTENT */
.contenido {
  /* explicacion de grid: https://developer.mozilla.org/es/docs/Web/CSS/CSS_Grid_Layout */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-evenly;
  align-items: stretch;
  margin: 0px;
  padding: 0rem;
  background-color: #ffffbf;
  justify-items: stretch;
  align-content: stretch;
}
.contenido div {
  display: grid;
  width: -webkit-fill-available;
  padding: 0rem;
  margin: 0rem;
  justify-content: space-evenly;
  align-items: center;
  justify-items: stretch;
  align-content: stretch;
  border-radius: 1%;
}
#grid_1 {
  grid-column: 1 / 4;
  grid-row: 1;
}

#grid_2 {
  grid-column: 1;
  grid-row: 2/ 5;
}

#grid_3 {
    grid-column: 2;
    grid-row: 2/ 4;
  }

  #grid_4 {
    grid-column: 3;
    grid-row: 2;
  }
/* pintado alternado: https://developer.mozilla.org/es/docs/Web/CSS/:nth-child */
.contenido div:nth-child(even) {
  background-color: #ffe8a8;
}

.contenido div:nth-child(odd) {
  background-color: #ff9a87;
}
/* END CONTENT */

/* CARDS */
.card {
  outline: 1px solid rgba(255, 255, 255, 0.5);
  outline-offset: -8px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.card-image {
  position:absolute;
  inset: 0;
  justify-self: stretch;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: transform 0.75s;
}

.card:hover .card-image {
  transform: scale(1.15);
  opacity: 0.9;
}

.card-title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font-size: 20px;
  text-shadow: o o 1px rgba(0, 0, 0, 0.5);
  color: black

}
/* END CARDS */

.footer {
    background-image: url(imagenes_PATITAS200PX.jpeg);
    width: 1600px;
    height: 100px;
    background-repeat: repeat-x;
  
}

.tarjetas_quienes_somos {
    /* formato para la pagina de quienes somos */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0px;
    padding: 0PX;
    background-color: #ffffbf;
    justify-items: center;
    align-content: stretch;
    
    
  }
  .tarjetas_quienes_somos div {
    flex: 2;
    padding: 25px;
    margin: 20px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    align-content: stretch;
    background-color: #ffffbf;
    min-width: 250px
  }
